.container {
  width: 100%;
}
.content.timeline {
  position: relative;
  display: flex;
  margin: 0 auto;
  
  .vertical-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 2px;
    background-color: #14a2fd;
    opacity: 0.2;
  }
  .button-create-new {
    height: 32px;
    width: 32px;
    opacity: 0;
    border: 3px solid #14a2fd;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #14a2fd;
    transition: .3s all ease-in-out;
    &:hover {
      background-color: #14a2fd;
      color: #fff;
    }
    &.is-shown {
      height: 32px;
      width: 32px;
      opacity: 1;
    }
  }
  .new-panel {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 1;
    display: none;
    flex-direction: column;
    border: 1px solid lightgray;
    .panel {
      background-color: #fff;
      border-bottom: 1px solid lightgray;
      height: 50px;
      width: 300px;
      display: flex;
      color: gray;
      button {
        padding-left: 20px;
        text-align: left;
        width: 50%;
        border: none;
        background-color: white;
        &:hover {
          background-color: #14a2fd;
          color: white;
        }
      }
    }
    &.is-open {
      display: flex;
    }
  }
} 

